body{
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1{
    font-weight: bold;
    text-align: center;
    border: 3px blue dotted;
    color: blue;
    background-color: lightblue;
    
}
h2{
    text-align: center;
    color: blue;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    border: 4px solid blue;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: lightblue;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
   background-color: gray;
   color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: lightblue;
    color: blue;
  }



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: lightblue;
    text-align: center;
  }

.balra{
    margin-left: 300px;
}

#szovog{
    text-align: center;
    color: red;
}